tr, td {
    border: 1px solid #E5E5E5;
    color: #625b55;
}

.position-right {
    margin-left: auto;
}

.table-margin {
    padding: 5px 15px;
}

@keyframes animate-bar {
  0% {
      width: 0;
      opacity: 0
  }
  100% {
      width: 30%;
      opacity: 1;
  }
}

@keyframes animate-bar-5 {
  0% {
      width: 0;
      opacity: 0
  }
  100% {
      width: 50%;
      opacity: 1;
  }
}

@keyframes animate-bar-7 {
  0% {
      width: 0;
      opacity: 0
  }
  100% {
      width: 70%;
      opacity: 1;
  }
}