{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1 class="mb-4 mt-3 ml-4 text-xl font-bold text-gray-600 dark:text-gray-300">Dashboard</h1>
  <div style="padding-left: 3%; padding-right: 3%;">
    <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
      <!-- Card -->
      <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 pointer" onclick="display_select_area('total_member')">
        <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
            </path>
          </svg>
        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            Total member
          </p>
          <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
            {{ all_member_cnt }}
          </p>
        </div>
      </div>
      <!-- Card -->
      <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 pointer" onclick="display_select_area('github_user')">
        <div class="p-3 mr-4 text-green-500 bg-green-100 rounded-full dark:text-green-100 dark:bg-green-500">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
            </path>
          </svg>
        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            GitHub user
          </p>
          <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
            {{ all_githubuser_cnt }}
          </p>
        </div>
      </div>
      <!-- Card -->
      <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 pointer" onclick="display_select_area('new_member')">
        <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
            </path>
          </svg>
        </div>
        <div>
          <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
            New member
          </p>
          <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
            {{ all_new_member_cnt }}
          </p>
        </div>
      </div>
      <!-- Card -->
      {% for request_type, data in access_data.items %}
        <div class="flex items-center p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 pointer" onclick="display_select_area('{{ request_type }}')">
          <div class="p-3 mr-4 text-blue-500 bg-blue-100 rounded-full dark:text-blue-100 dark:bg-blue-500">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z">
              </path>
            </svg>
          </div>
          <div>
            <div>
              <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                {{ request_type }}
              </p>
            </div>
            <div>
              <table class="w-full whitespace-no-wrap">
                  <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    <tr class="user_tr text-gray-700 dark:text-gray-400" style="border: 0.5 solid #d5d6d7!important;">
                      <td style="width:50px; text-align: center; padding:5px;">
                        <p class="font-bold text-sm text-green-500 dark:text-green-500">
                          unique
                        </p>
                      </td>
                      <td style="width:50px; text-align: center; padding:5px;">
                        <p class="font-bold text-sm text-green-500 dark:text-green-500">
                          {{ data.unique_cnt }}
                        </p>
                      </td>
                    </tr>
                    <tr class="user_tr text-gray-700 dark:text-gray-400" style="border: 0.5 solid #d5d6d7!important;">
                      <td style="width:50px; text-align: center; padding:5px;">
                        <p class="font-bold text-sm text-gray-600 dark:text-gray-400">
                          total
                        </p>
                      </td>
                      <td style="width:50px; text-align: center; padding:5px;">
                        <p class="font-bold text-sm text-gray-600 dark:text-gray-400">
                          {{ data.count }}
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div id="display_data">

      <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs" id="total_member">
      <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
          <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
            <th class="px-4 py-3">ID</th>
            <th class="px-4 py-3">updated_date</th>
            <th class="px-4 py-3">Last_login</th>
            <th class="px-4 py-3">Join_Date</th>
          </tr>
          </thead>
          <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
          {% for member in all_member %}
            {% for github_user in member.githubuser_set.all %}
            <tr class="text-gray-700 dark:text-gray-400">
              <td class="px-4 py-3">
                <div class="flex items-center text-sm">
                  <!-- Avatar with inset shadow -->
                  <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                    <img
                      class="object-cover w-full h-full rounded-full"
                      src="{{ github_user.avatar_url }}"
                      alt=""
                      loading="lazy"/>
                    <div
                      class="absolute inset-0 rounded-full shadow-inner"
                      aria-hidden="true">
                    </div>
                  </div>
                  <div>
                    <p class="font-semibold">{{ github_user.github_id }}</p>
                  </div>
                </div>
              </td>
              <td class="px-4 py-3 text-sm">{{ github_user.updated_date|date:'Y-m-d' }}</td>
              <td class="px-4 py-3 text-xs">{{ member.last_login|date:'Y-m-d' }}</td>
              <td class="px-4 py-3 text-sm">{{ member.date_joined|date:'Y-m-d' }}</td>
            </tr>
            {% endfor %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

      <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs hidden" id="github_user">
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap">
            <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">ID</th>
              <th class="px-4 py-3">updated_date</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            {% for github_user in all_githubuser %}
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3">
                  <div class="flex items-center text-sm">
                    <!-- Avatar with inset shadow -->
                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                      <img
                        class="object-cover w-full h-full rounded-full"
                        src="{{ github_user.avatar_url }}"
                        alt=""
                        loading="lazy"/>
                      <div
                        class="absolute inset-0 rounded-full shadow-inner"
                        aria-hidden="true">
                      </div>
                    </div>
                    <div>
                      <p class="font-semibold">{{ github_user.github_id }}</p>
                    </div>
                  </div>
                </td>
                <td class="px-4 py-3 text-sm">{{ github_user.updated_date|date:'Y-m-d' }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs hidden" id="new_member">
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap">
            <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">ID</th>
              <th class="px-4 py-3">updated_date</th>
              <th class="px-4 py-3">Last_login</th>
              <th class="px-4 py-3">Join_Date</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            {% for new_member in all_new_member %}
              {% for github_user in new_member.githubuser_set.all %}
              <tr class="text-gray-700 dark:text-gray-400">
                <td class="px-4 py-3">
                  <div class="flex items-center text-sm">
                    <!-- Avatar with inset shadow -->
                    <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                      <img
                        class="object-cover w-full h-full rounded-full"
                        src="{{ github_user.avatar_url }}"
                        alt=""
                        loading="lazy"/>
                      <div
                        class="absolute inset-0 rounded-full shadow-inner"
                        aria-hidden="true">
                      </div>
                    </div>
                    <div>
                      <p class="font-semibold">{{ github_user.github_id }}</p>
                    </div>
                  </div>
                </td>
                <td class="px-4 py-3 text-sm">{{ github_user.updated_date|date:'Y-m-d' }}</td>
                <td class="px-4 py-3 text-xs">{{ new_member.last_login|date:'Y-m-d' }}</td>
                <td class="px-4 py-3 text-sm">{{ new_member.date_joined|date:'Y-m-d' }}</td>
              </tr>
            {% endfor %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% for request_type, data in access_data.items %}
        <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs hidden" id="{{ request_type }}">
        <div class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap">
            <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">ID</th>
              <th class="px-4 py-3">IP_ADDRESS</th>
              <th class="px-4 py-3">requested_date</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            {% for data in data.access_user_data %}
              {% for date, user in data.items %}
                <tr class="text-gray-700 dark:text-gray-400">
                  <td class="px-4 py-3">
                    <div class="flex items-center text-sm">
                      <div>
                      {% if user.user.github_id %}
                        <a class="font-semibold" target='_blank' href="/{{ user.user.github_id }}">{{ user.user.github_id }}</a>
                      {% else %}
                        <p class="font-semibold" > None </p>
                      {% endif %}
                      </div>
                    </div>
                  </td>
                  <td class="px-4 py-3 text-sm">{{ user.client_ip }}</td>
                  <td class="px-4 py-3 text-xs">{{ date|date:'Y-m-d' }}</td>
                </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endfor %}

    </div>


  </div>

{% endblock %}
