<script src="/static/js/charts.js"></script>

<!-- Lines (Start) -->
<div class="min-w-0 p-4 mt-8 bg-white rounded-lg shadow-xs dark:bg-gray-800">
  <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
    Weekly Activity
  </h4>
  <div id="weekly_graph_div" class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
    <!-- Chart legend -->
  </div>
  <canvas id="lines"></canvas>
</div>
<!-- Lines (End) -->

<!-- Bars (Start) -->
<div class="min-w-0 p-4 mt-8 bg-white rounded-lg shadow-xs dark:bg-gray-800">
  <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
    Monthly Activity
  </h4>
  <div id="monthly_graph_div" class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
    <!-- Chart legend -->
  </div>
  <canvas id="bars"></canvas>
</div>
<!-- Bars (End) -->

<!-- Scatter (Start) -->
<div class="min-w-0 p-4 mt-8 bg-white rounded-lg shadow-xs dark:bg-gray-800">
  <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
    Hourly Activity
  </h4>
  <div id="hourly_graph_div" class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
    <!-- Chart legend -->
  </div>
  <canvas id="scatter"></canvas>
</div>
<!-- Scatter (End) -->
