<script src="/static/js/charts-lines.js" defer></script>
<script src="/static/js/charts-bars.js"></script>
<script src="/static/js/charts-scatter.js" defer></script>

<!-- Lines (Start) -->
<div class="min-w-0 p-4 mt-8 bg-white rounded-lg shadow-xs dark:bg-gray-800">
  <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
    Weekly Activity
  </h4>
  <div class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
    <!-- Chart legend -->
    <div class="flex items-center">
      <span class="inline-block w-3 h-3 mr-1 bg-teal-500 rounded-full"></span>
      <img class="object-cover w-full h-full rounded-full mx-2 my-2" src="https://avatars.githubusercontent.com/u/6702424?v=4" style="width:32px;height:32px">
      <span>garronej</span>
    </div>
    <div class="flex items-center">
      <span class="inline-block w-3 h-3 mr-1 bg-purple-600 rounded-full"></span>
      <img class="object-cover w-full h-full rounded-full mx-2 my-2" src="https://avatars.githubusercontent.com/u/1500684?v=4" style="width:32px;height:32px">
      <span>kentcdodds</span>
    </div>
  </div>
  <canvas id="lines"></canvas>
</div>
<!-- Lines (End) -->

<!-- Bars (Start) -->
<div class="min-w-0 p-4 mt-8 bg-white rounded-lg shadow-xs dark:bg-gray-800">
  <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
    Monthly Activity
  </h4>
  <div id="bar_graph_div" class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
    <!-- Chart legend -->
  </div>
  <canvas id="bars"></canvas>
</div>
<!-- Bars (End) -->

<!-- Scatter (Start) -->
<div class="min-w-0 p-4 mt-8 bg-white rounded-lg shadow-xs dark:bg-gray-800">
  <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
    Hourly Activity
  </h4>
  <div class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400">
    <!-- Chart legend -->
    <div class="flex items-center">
      <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:rgb(255, 99, 132)"></span>
      <img class="object-cover w-full h-full rounded-full mx-2 my-2" src="https://avatars.githubusercontent.com/u/6702424?v=4" style="width:32px;height:32px">
      <span>garronej</span>
    </div>
    <div class="flex items-center">
      <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:rgb(2,119,189)"></span>
      <img class="object-cover w-full h-full rounded-full mx-2 my-2" src="https://avatars.githubusercontent.com/u/1500684?v=4" style="width:32px;height:32px">
      <span>kentcdodds</span>
    </div>
    <div class="flex items-center">
      <span class="inline-block w-3 h-3 mr-1 rounded-full" style="background-color:rgb(255,214,0)"></span>
      <img class="object-cover w-full h-full rounded-full mx-2 my-2" src="https://avatars.githubusercontent.com/u/72603?v=4" style="width:32px;height:32px">
      <span>PowerKiKi</span>
    </div>
  </div>
  <canvas id="scatter"></canvas>
</div>
<!-- Scatter (End) -->
