{% load static %}
<footer id="footer" class="footer" style="position: fixed;bottom: 0;width:100%">
  <div class="footer-top">
    <div class="container">
      <div class="row gy-4" style="display: flex; justify-content: space-around;">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <span style="font-family: 'Russo One';font-size: 1.7rem">Git Rainbow</span>
          </a>
          <p>Show Off Your Tech Stack</p>
          <div class="social-links mt-3">
            <a href="/https://github.com/git-rainbow" class="github"><i class="bi bi-github"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <strong>Email: </strong>linuxgeek@linuxgeek.io<br>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>LinuxGeek inc.</span></strong>. All Rights Reserved
    </div>
  </div>
</footer>
