{% extends 'base.html' %}
{% load static custom_tags %}
{% block content %}
<div id = 'under_header' class="flex items-center p-6 bg-gray-50 w-full h-full">
  {% include 'min_git_rainbow.html' %}
</div>
<script type="text/javascript" src="{% static "js/group.js" %}"></script>
<script type="text/javascript" src="{% static "js/rainbow_calendar.js" %}"></script>
<script type="text/javascript" src="{% static "js/charts.js" %}"></script>
<script type="text/javascript" src="{% static "js/tech_search.js" %}"></script>
<script>
    check_analysis_updating("{{github_user.github_id}}", "{{github_user.status}}");
    draw_user_graph("{{ github_user.github_id }}");
    tech_ranking("{{ github_user.github_id }}");
</script>
{% endblock %}
