{% extends 'base.html' %}
{% load static custom_tags %}
{% block content %}
<div id = 'under_header' class="flex items-center p-6 bg-gray-50 w-full h-full">
  {% include 'min_git_rainbow.html' %}
</div>
<script type="text/javascript" src="{% static "js/group.js" %}"></script>
<script type="text/javascript" src="{% static "js/rainbow_calendar.js" %}"></script>
<script>
    check_analysis_updating("{{github_user.github_id}}", "{{github_user.status}}");
    show_rainbow_calendar(JSON.parse('{{calendar_data|safe}}'));
    {% if last_tech_data %}
        show_group_total_lines(JSON.parse('{{last_tech_data|safe}}'), true);
        save_global_var(JSON.parse('{{last_tech_data|safe}}'));
    {% endif %}
</script>
{% endblock %}
