{% extends 'base.html' %}
{% load static custom_tags %}
{% block content %}
<div id = 'under_header' class="flex items-center p-6 bg-gray-50 w-full h-full">
  {% include 'min_git_rainbow.html' %}
</div>
<script type="text/javascript" src="{% static "js/tech_search.js" %}"></script>
<script type="text/javascript" src="{% static "js/tech_stack.js" %}"></script>
<script type="text/javascript" src="{% static "js/group.js" %}"></script>
<script type="text/javascript" src="{% static "js/group_calendar.js" %}"></script>
<script>
    show_group_calendar(JSON.parse('{{calendar_data|safe}}'));
    check_analysis_updating("{{github_user.github_id}}", "{{github_user.status}}");
    var show_more_index = 0;
    var current_data;
    var show_more_btn = document.querySelector("#show_more_btn");
    show_more_btn.addEventListener('click', function(){
        show_group_total_lines(current_data, false, true)
    });
    {% if last_tech_data %}
        show_group_total_lines(JSON.parse('{{last_tech_data|safe}}'), true);
        save_global_var(JSON.parse('{{last_tech_data|safe}}'));
    {% endif %}
</script>
{% endblock %}
