{% load static %}
{% block content %}
<script type="text/javascript" src="{% static 'js/profile_calendar.js' %}"></script>
<div style="margin:0 auto;">
  <div class="flex">
    <div class="grid xl:grid-cols-2 mb-8" style="flex-grow: 3">
      <div class="flex">
          <img src="{{github_user.avatar_url}}" class="profile mr-6 profile-image">
        <div class="flex flex-col my-auto">
          {% if github_user.name  %}
            <span class="font-bold text-lg my-auto" id="user_name">{{ github_user.name }}</span>
          {% endif %}
          <span class="text-gray-500 text-lg my-auto" id="user_github_id">{{ github_user.github_id }}</span>
          {% if github_user.bio %}
            <span class="text-gray-500 my-auto" id="user_bio">{{ github_user.bio }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="w-full mb-8 md:w-full scroll" style="max-width:1100px">
    <span class="font-bold mb-2" style="font-size:20px; font-family: 'Noto Sans KR';float: left">Tech Stack<g class="ml-3" style="font-weight: normal;">in the last year</g></span>

    <div class="flex-1 md:w-full w-full h-full overflow-hidden bg-white rounded-lg shadow-xs p-6">
      <div class="flex w-full mb-3 scroll-x">
        {% for tech_data in calendar_tech_data %}
          <div class="mr-3">
            <table style="min-height: 100px;width: 100%">
              <tbody class="tech">
              <tr>
                <td class="w-full">
                  <div class="w-full inline-block">
                    <div class="tech_color mt-2 mr-2" style="background-color: {{ tech_data.color }}; float: right; display: block;"></div>
                  </div>
                  <img src="{% get_static_prefix %}img/{{ tech_data.file }}.png" class="mx-auto mb-2"/>
                  <div class="mb-2 px-2" style="text-align: center">{{ tech_data.name }}
                    <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full" style="font-size: .75rem">
                      {{ tech_data.percent }}%
                    </span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        {% endfor %}
      </div>
      <!--Git grass(start)-->
      <div class="git-table shadow-xs" style="max-width:1010px;max-height:170px">
      <!--Git grass(end)-->
    </div>
  </div>
</div>
{% endblock content %}
