<div class="flex mt-5 mb-3" style="justify-content: space-between;">
  <span class="font-bold" style="font-size: 20px;"> 코드 크레이지 랭킹</span>
  <p class="text-sm pt-3">참여 개발자 수: 6</p>
</div>
<div class="overflow-hidden rounded-lg shadow-xs" style="margin-left: auto !important;">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800" style="border: 0 solid #d5d6d7!important;">
          <th id="rank_rank" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" class="px-4 py-3 text-center">
            순위
          </th>
          <th class="px-4 py-3 text-center" style="width:150px">GITHUB ID</th>
          <th></th>
          <th id="rank_code_crazy" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" class="px-4 py-3 text-center">
            코드 크레이지
          </th>
          <th id="rank_code_lines" onmousemove="show_desc(event);" onmouseleave="show_desc(event)" class="px-4 text-center">
            코딩 라인수
          </th>
          <th id="rank_major" onmousemove="show_desc(event);" onmouseleave="show_desc(event)" class="px-4 text-center">
            주요기술
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">

        <tr id="oleavr" class="user_tr text-gray-700 dark:text-gray-400" style="opacity: 1;">
          <td style="width:50px;border:none!important; text-align: center;">
            <p class="font-bold text-sm text-gray-600 dark:text-gray-400">
              1
            </p>
          </td>
          <td class="px-3 py-3" style="width:150px;border:none!important">
            <div class="flex items-center text-sm">
              <!-- Avatar with inset shadow -->
              <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block" style="min-width:32px;">
                <img class="object-cover w-full h-full rounded-full" src="https://avatars.githubusercontent.com/u/735197?v=4" alt="" loading="lazy">
                <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
              </div>
              <div class="ranking-ellipsis">
                <a class="font-semibold" href="/oleavr" target="_blank">oleavr</a>
              </div>
            </div></td>
          <td style="border:none!important;">
            <div class="flex items-center text-sm">

              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"></path>
              </svg>

              <div class="ml-2">5</div>
            </div>
          </td>
          <td class="text-sm text-center" style="border:none!important">
            <span title="47.056%" class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
              47%
            </span>
          </td>
          <td style="border:none!important">
            <div class="w-full rounded-full" style="background-color:lightgray">
              <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 95%; background-color: #403757"><p style="color:white">18,774</p></div>
            </div>
          </td>
          <td class="px-3 py-2 text-sm" style="width:100px;border:none!important">
            <div class="flex items-center" style="justify-content:center;">
              <div class="flex" style="align-items: center;flex-direction: column;">
                <img style="width:45px;height:45px" src="/static/img/c.png">
                <p class="text-xs text-gray-600">C</p>
              </div>
            </div>
          </td>
        </tr>

        <tr id="wszqkzqk" class="user_tr text-gray-700 dark:text-gray-400" style="opacity: 1;">
          <td style="width:50px;border:none!important; text-align: center;">
            <p class="font-bold text-sm text-gray-600 dark:text-gray-400">
              2
            </p>
          </td>
          <td class="px-3 py-3" style="width:150px;border:none!important">
            <div class="flex items-center text-sm">
              <!-- Avatar with inset shadow -->
              <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block" style="min-width:32px;">
                <img class="object-cover w-full h-full rounded-full" src="https://avatars.githubusercontent.com/u/12961135?v=4" alt="" loading="lazy">
                <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
              </div>
              <div class="ranking-ellipsis">
                <a class="font-semibold" href="/wszqkzqk" target="_blank">wszqkzqk</a>
              </div>
            </div></td>
          <td style="border:none!important;">
            <div class="flex items-center text-sm">

              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"></path>
              </svg>

              <div class="ml-2">4</div>
            </div>
          </td>
          <td class="text-sm text-center" style="border:none!important">
            <span title="30.572%" class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
              30%
            </span>
          </td>
          <td style="border:none!important">
            <div class="w-full rounded-full" style="background-color:lightgray">
              <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 34.43%; background-color: #403757"><p style="color:white">3,212</p></div>
            </div>
          </td>
          <td class="px-3 py-2 text-sm" style="width:100px;border:none!important">
            <div class="flex items-center" style="justify-content:center;">
              <div class="flex" style="align-items: center;flex-direction: column;">
                <img style="width:45px;height:45px" src="/static/img/none.png">
                <p class="text-xs text-gray-600">None</p>
              </div>
            </div>
          </td>
        </tr>

        <tr id="Alecaddd" class="user_tr text-gray-700 dark:text-gray-400" style="opacity: 1;">
          <td style="width:50px;border:none!important; text-align: center;">
            <p class="font-bold text-sm text-gray-600 dark:text-gray-400">
              3
            </p>
          </td>
          <td class="px-3 py-3" style="width:150px;border:none!important">
            <div class="flex items-center text-sm">
              <!-- Avatar with inset shadow -->
              <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block" style="min-width:32px;">
                <img class="object-cover w-full h-full rounded-full" src="https://avatars.githubusercontent.com/u/2527103?v=4" alt="" loading="lazy">
                <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
              </div>
              <div class="ranking-ellipsis">
                <a class="font-semibold" href="/Alecaddd" target="_blank">Alecaddd</a>
              </div>
            </div></td>
          <td style="border:none!important;">
            <div class="flex items-center text-sm">

              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"></path>
              </svg>

              <div class="ml-2">3</div>
            </div>
          </td>
          <td class="text-sm text-center" style="border:none!important">
            <span title="11.288%" class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
              11%
            </span>
          </td>
          <td style="border:none!important">
            <div class="w-full rounded-full" style="background-color:lightgray">
              <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 25%; background-color: #403757"><p style="color:white">1,487</p></div>
            </div>
          </td>
          <td class="px-3 py-2 text-sm" style="width:100px;border:none!important">
            <div class="flex items-center" style="justify-content:center;">
              <div class="flex" style="align-items: center;flex-direction: column;">
                <img style="width:45px;height:45px" src="/static/img/vala.png">
                <p class="text-xs text-gray-600">Vala</p>
              </div>
            </div>
          </td>
        </tr>

        <tr id="radare" class="user_tr text-gray-700 dark:text-gray-400" style="opacity: 1;">
          <td style="width:50px;border:none!important; text-align: center;">
            <p class="font-bold text-sm text-gray-600 dark:text-gray-400">
              4
            </p>
          </td>
          <td class="px-3 py-3" style="width:150px;border:none!important">
            <div class="flex items-center text-sm">
              <!-- Avatar with inset shadow -->
              <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block" style="min-width:32px;">
                <img class="object-cover w-full h-full rounded-full" src="https://avatars.githubusercontent.com/u/917142?v=4" alt="" loading="lazy">
                <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
              </div>
              <div class="ranking-ellipsis">
                <a class="font-semibold" href="/radare" target="_blank">radare</a>
              </div>
            </div></td>
          <td style="border:none!important;">
            <div class="flex items-center text-sm">

              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"></path>
              </svg>

              <div class="ml-2">2</div>
            </div>
          </td>
          <td class="text-sm text-center" style="border:none!important">
            <span title="3.7%" class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
              3%
            </span>
          </td>
          <td style="border:none!important">
            <div class="w-full rounded-full" style="background-color:lightgray">
              <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 38.1%; background-color: #403757"><p style="color:white">3,554</p></div>
            </div>
          </td>
          <td class="px-3 py-2 text-sm" style="width:100px;border:none!important">
            <div class="flex items-center" style="justify-content:center;">
              <div class="flex" style="align-items: center;flex-direction: column;">
                <img style="width:45px;height:45px" src="/static/img/c.png">
                <p class="text-xs text-gray-600">C</p>
              </div>
            </div>
          </td>
        </tr>

        <tr id="martinberlin" class="user_tr text-gray-700 dark:text-gray-400" style="opacity: 1;">
          <td style="width:50px;border:none!important; text-align: center;">
            <p class="font-bold text-sm text-gray-600 dark:text-gray-400">
              5
            </p>
          </td>
          <td class="px-3 py-3" style="width:150px;border:none!important">
            <div class="flex items-center text-sm">
              <!-- Avatar with inset shadow -->
              <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block" style="min-width:32px;">
                <img class="object-cover w-full h-full rounded-full" src="https://avatars.githubusercontent.com/u/2692928?v=4" alt="" loading="lazy">
                <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
              </div>
              <div class="ranking-ellipsis">
                <a class="font-semibold" href="/martinberlin" target="_blank">martinberlin</a>
              </div>
            </div></td>
          <td style="border:none!important;">
            <div class="flex items-center text-sm">

              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"></path>
              </svg>

              <div class="ml-2">1</div>
            </div>
          </td>
          <td class="text-sm text-center" style="border:none!important">
            <span title="3.459%" class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
              3%
            </span>
          </td>
          <td style="border:none!important">
            <div class="w-full rounded-full" style="background-color:lightgray">
              <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 25%; background-color: #403757"><p style="color:white">759</p></div>
            </div>
          </td>
          <td class="px-3 py-2 text-sm" style="width:100px;border:none!important">
            <div class="flex items-center" style="justify-content:center;">
              <div class="flex" style="align-items: center;flex-direction: column;">
                <img style="width:45px;height:45px" src="/static/img/c.png">
                <p class="text-xs text-gray-600">C</p>
              </div>
            </div>
          </td>
        </tr>

        <tr id="tmm1" class="user_tr text-gray-700 dark:text-gray-400" style="opacity: 1;">
          <td style="width:50px;border:none!important; text-align: center;">
            <p class="font-bold text-sm text-gray-600 dark:text-gray-400">
              6
            </p>
          </td>
          <td class="px-3 py-3" style="width:150px;border:none!important">
            <div class="flex items-center text-sm">
              <!-- Avatar with inset shadow -->
              <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block" style="min-width:32px;">
                <img class="object-cover w-full h-full rounded-full" src="https://avatars.githubusercontent.com/u/2567?v=4" alt="" loading="lazy">
                <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
              </div>
              <div class="ranking-ellipsis">
                <a class="font-semibold" href="/tmm1" target="_blank">tmm1</a>
              </div>
            </div></td>
          <td style="border:none!important;">
            <div class="flex items-center text-sm">

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#96C362" class="bi bi-circle-fill" viewBox="0 0 16 16" style="margin-left: 6px; margin-right: 7px;">
                <circle cx="8" cy="8" r="8"></circle>
              </svg>

              <div class="ml-2">0</div>
            </div>
          </td>
          <td class="text-sm text-center" style="border:none!important">
            <span title="2.01%" class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
              2%
            </span>
          </td>
          <td style="border:none!important">
            <div class="w-full rounded-full" style="background-color:lightgray">
              <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 25%; background-color: #403757"><p style="color:white">201</p></div>
            </div>
          </td>
          <td class="px-3 py-2 text-sm" style="width:100px;border:none!important">
            <div class="flex items-center" style="justify-content:center;">
              <div class="flex" style="align-items: center;flex-direction: column;">
                <img style="width:45px;height:45px" src="/static/img/c.png">
                <p class="text-xs text-gray-600">C</p>
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
    <span class="col-span-2"></span>
    <!-- Pagination -->
    <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
      <nav aria-label="Table navigation">
        <ul class="inline-flex items-center">

          <li>
            <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple" onclick="window.location.href='?page=1'">
              <p style="color: blue; font-weight: bolder">1</p>
            </button>
          </li>
        </ul>
      </nav>
    </span>
  </div>
</div>
