{% load static custom_tags i18n humanize %}
<div class="flex mt-5 mb-3" style="justify-content: space-between;">
  <span class="font-bold" style="font-size: 20px;">{% trans "Crazy Ranking" %}</span>
  <p class="text-sm pt-3">{% trans "Members" %}: {{ group_rank_data|length }}</p>
</div>
<div class="overflow-hidden rounded-lg shadow-xs" style="margin-left: auto !important;">
  <div class="w-full overflow-x-auto">
    <table class="w-full whitespace-no-wrap">
      <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800" style="border: 0 solid #d5d6d7!important;">
          <th id="rank_rank" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" class="px-4 py-3 text-center">
            {% trans "RANK" %}
          </th>
          <th class="px-4 py-3 text-center" style="width:150px">GITHUB ID</th>
          <th></th>
          <th id="rank_code_crazy" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" class="px-4 py-3 text-center">
            {% trans "Code Crazy" %}
          </th>
          <th id="rank_code_lines" onmousemove="show_desc(event);" onmouseleave="show_desc(event)" class="px-4 text-center">
            {% trans "Code Lines" %}
          </th>
          <th id="rank_major" onmousemove="show_desc(event);" onmouseleave="show_desc(event)" class="px-4 text-center">
            {% trans "Major" %}
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">

        {% for data in group_rank_data %}
        <tr id="{{ data.github_id }}" class="user_tr text-gray-700 dark:text-gray-400" style="opacity: 1;">
          <td style="width:50px;border:none!important; text-align: center;">
            <p class="font-bold text-sm text-gray-600 dark:text-gray-400">
              {{data.rank  }}
            </p>
          </td>
          <td class="px-3 py-3" style="width:150px;border:none!important">
            <div class="flex items-center text-sm">
              <!-- Avatar with inset shadow -->
              <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block" style="min-width:32px;">
                <img class="object-cover w-full h-full rounded-full" src="{{ rank_avatar_url_dict|get_item:data.github_id }}" alt="" loading="lazy">
                <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
              </div>
              <div class="ranking-ellipsis">
                <a class="font-semibold" href="/{{ data.github_id }}" target="_blank">{{ data.github_id }}</a>
              </div>
            </div></td>
          <td style="border:none!important;">
            <div class="flex items-center text-sm">
              {% if data.change_rank > 0 %}
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                </svg>
              {% elif data.change_rank < 0 %}
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="blue" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
              </svg>
              {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#96C362" class="bi bi-circle-fill" viewBox="0 0 16 16" style="margin-left: 6px; margin-right: 7px;">
                  <circle cx="8" cy="8" r="8"/>
                </svg>
              {% endif %}
              <div class="ml-2">{{ data.change_rank }}</div>
            </div>
          </td>
          <td class="text-sm text-center" style="border:none!important">
            <span title="47.056%" class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
              {{ data.int_code_crazy }}%
            </span>
          </td>
          <td style="border:none!important">
            <div class="w-full rounded-full" style="background-color:lightgray">
              <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full user-coding-lines" github_id="{{data.github_id}}" style="width: {{ data.code_line_percent }}%; background-color: #403757"><p style="color:white">{{ data.total_lines|intcomma }}</p></div>
            </div>
          </td>
          <td class="px-3 py-2 text-sm" style="width:100px;border:none!important">
            <div class="flex items-center" style="justify-content:center;">
              <div class="flex" style="align-items: center;flex-direction: column;">
                <img style="width:45px;height:45px" src="{% get_static_prefix %}img/{{ ranker_toptech_dict|get_item:data.github_id|replace_special_char|lower }}.png">
                <p class="text-xs text-gray-600">{{ ranker_toptech_dict|get_item:data.github_id }}</p>
              </div>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="flex justify-center px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
    <!-- Pagination -->
    <span class="flex sm:mt-auto sm:center">
      <nav aria-label="Table navigation">
        <ul class="inline-flex items-center">
          <li>
            <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple" onclick="window.location.href='?page=1'">
              <p style="color: blue; font-weight: bolder">1</p>
            </button>
          </li>
        </ul>
      </nav>
    </span>
  </div>
</div>
