{% extends 'base.html' %}
{% load static custom_tags %}
{% block content %}
<div id = 'under_header' class="flex items-center p-6 bg-gray-50 w-full h-full">
  {% include 'min_group.html' %}
</div>
<script type="text/javascript" src="{% static "js/tech_search.js" %}"></script>
<script type="text/javascript" src="{% static "js/tech_stack.js" %}"></script>
<script type="text/javascript" src="{% static "js/group.js" %}"></script>
<script type="text/javascript" src="{% static "js/rainbow_calendar.js" %}"></script>
<script>
  show_rainbow_calendar(JSON.parse('{{ group_git_calendar_data|safe}}'))
  group_update("{{ group.id }}");
  draw_group_graph("{{ group.id }}");
</script>
{% endblock %}
