{% extends 'base.html' %}
{% load static custom_tags i18n %}
{% block content %}
<div id='under_header' class="flex items-center p-6 bg-gray-50 w-full h-full">
  <div style="margin:0 auto;">

    <!-- First Row Start -->
    <div class="grid gap-4 mb-3 md:grid-cols-2 xl:grid-cols-2-2">
      <div style="min-width:450px">

        <!-- Search Tech -->
        {% include 'tech_side.html' %}
      </div>

      <div class="bg-white" style="max-width:800px">
        <div class="my-6 mt-5 font-bold" style="font-size:2.2rem;text-align:center">
          {% trans "GitHub team project analysis" %}<br>
          {% trans "with friends, co-workers, fellows" %}
        </div>
        <div class="my-8 text-xl" style="text-align:center">
          {% trans "Analze GitHub project, how crazy about coding on techstacks" %}</div>

        <!-- (1) Introduction image -->
        <div class="my-5 mx-3">
          <img class="mr-8" style="filter: drop-shadow(10px 6px 6px #c3c3c3);" src="/static/img/group_coding_intro1.png">
        </div>

        <div class="my-6 mt-5 font-bold" style="font-size:2.2rem;text-align:center">
          {% trans "Filter analysis data by specific members" %}
        </div>
        <div class="my-8 text-xl" style="text-align:center;">
          {% trans "For example, the members GitHub ID (" %}
          <g style="color:rgb(38,213,128);cursor: pointer;"
             onclick="window.open('/drisspg', '_blank')"> drisspg</g>,
          <g onclick="window.open('/wanchaol', '_blank');cursor: pointer;"
             style="color:rgb(247,64,10);"> wanchaol</g> )
        </div>

        <!-- (1-1) Introduction image -->
        <div class="my-5 mx-3">
          <img class="mr-8" style="filter: drop-shadow(10px 6px 6px #c3c3c3);" src="/static/img/group_coding_intro1-1.png">
        </div>

        <div class="my-6 mt-5 font-bold" style="font-size:2.2rem;text-align:center">
          {% trans "My crazy ranking in GitHub team projects ?" %}
        </div>
        <div class="my-8 text-xl" style="text-align:center">
          {% trans "See Top3 of code crazy in your team's work, projects" %}
        </div>

        <!-- (2) Introduction image -->
        <div class="my-5 mx-3">
          <img class="mr-8" style="filter: drop-shadow(10px 6px 6px #c3c3c3);" src="/static/img/group_coding_intro2.png">
        </div>

        <div class="my-6 mt-5 font-bold" style="font-size:2.2rem;text-align:center">
          {% trans "Be a Diligent Developer" %}
        </div>
        <div class="my-8 text-xl" style="text-align:center">
          {% trans "Let's code consistently to achieve your team's goals" %}<br>
          {% trans "with hourly, weekly, monthly activities(commits, lines)" %}</div>

        <!-- (3) Introduction image -->
        <div class="my-5 mx-3">
          <img class="mr-8" src="/static/img/group_coding_intro3.png">
        </div>

        <div class="my-6 mt-5 font-bold" style="font-size:2.2rem;text-align:center">
          {% trans "Furthermore sort by the members" %}
        </div>
        <div class="my-8 text-xl" style="text-align:center">
          {% trans "For example, the members GitHub ID (" %}
          <g style="color:rgb(38,213,128);cursor: pointer;"
             onclick="window.open('/drisspg', '_blank')"> drisspg</g>,
          <g onclick="window.open('/wanchaol', '_blank');cursor: pointer;"
             style="color:rgb(247,64,10);"> wanchaol</g> )
        </div>

        <!-- (3-1) Introduction image -->
        <div class="my-5 mx-3">
          <img class="mr-8" src="/static/img/group_coding_intro3-1.png">
        </div>

      </div>
    </div>
    <!-- First Row End -->
  </div>
</div>
<script>
 show_ranking_user();
 {% if login_user %}
 check_analysis_updating("{{login_user.github_id}}", "{{login_user.status}}");
 {% endif %}
</script>
{% endblock %}
