{% load static %}
<header class="header header-scrolled">
  <div class="container-fluid container flex align-items-center justify-content-between">
    <a class="text-black" style="font-family: 'Russo One';font-size: 1.5rem" href="/">Git Rainbow</a>
    <div class="relative mr-6 focus-within:text-purple-500" style="width: 20%; min-width: 110px; display: flex;">
      <div class="absolute inset-y-0 flex items-center pl-2">
        <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
          <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
        </svg>
      </div>
      <input id="input_github_id" style="min-width: 100px;" onkeyup="analyze_github_user()" class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input" type="text" placeholder="Github ID" aria-label="Search">
      <button
        style="background-color: #A4C2F4; margin-left: 3px;" onclick="analyze_github_user()"
        class="px-3 py-1 text-sm font-medium leading-5 transition-colors duration-150 border border-transparent rounded-md">
        Analyze
      </button>
    </div>
    {% include 'toggle_login.html' %}
  </div>
  <nav id="navbar" class="navbar">
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>
</header>
