{% load static %}
<meta charset="UTF-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="description" content="Show Off Your Tech Stack">
<meta property="og:url" content="https://git-rainbow.com{{ request.path }}">
<meta property="og:type" content="website">
<meta property="og:title" content="Git Rainbow">
<meta property="og:description" content="Show Off Your Tech Stack">
<meta property="og:image" content="{% get_static_prefix %}thumbnail/thumbnail_{{ github_user.github_id }}.jpg">
<!-- Twitter-->
<meta property="twitter:card" content="summary">
<meta property="twitter:title" content="Git Rainbow">
<meta property="twitter:description" content="Show Off Your Tech Stack">
<meta property="twitter:url" content="https://git-rainbow.com{{ request.path }}">
<!-- Search Engine Tags-->
<meta itemprop="name" content="Git Rainbow">
<meta itemprop="description" content="Show Off Your Tech Stack">
<meta itemprop="image" content="{% get_static_prefix %}thumbnail/thumbnail_{{ github_user.github_id }}.jpg">
<title>Git Rainbow</title>
<!-- Favicons -->
<link href="{% static "favicon.ico" %}" rel="icon">
