{% load static custom_tags i18n %}
{% block content %}
<script type="text/javascript" src="{% static 'js/profile_calendar.js' %}"></script>
<div style="margin:0 auto;">
  <div class="flex" style="max-width: 1060px;">
    <div style="width: 65%;">
      <div class="flex">
        <div class="mr-2 flex flex-column" style="align-items: center;">
          <img src="{{github_user.avatar_url}}" class="profile profile-image">
          <div class="mt-3">
            <button type="button" class="btn btn-danger font-semibold mb-1" id="code_crazy_btn" onmousemove="show_desc(event)" onmouseleave="show_desc(event)"
              style="color:rgb(200,30,30);background-color:rgb(253,232,232);border-color:rgb(253,232,232); width:180px;">
              {% trans "Code Crazy" %} <span class="badge badge-danger" style="font-size:90%;margin-left:4px;">{{ days }}%</span>
            </button>
            <div id="svg_link" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" onclick=
              {% if not request.user.is_authenticated %}"go_to_login()"{% else %}"copy_svg_url('{{github_user.github_id}}')"{% endif %}class="flex justify-center bg-green-100 font-semibold btn" style="width:180px;">
              <span style="color: #00864c;">{% trans "Sharing" %}</span>
              <img style="width:20px; height: 20px; margin-left: 15px;" src="{% static 'img/share.png' %}" alt="share">
            </div>
          </div>
        </div>
        <div class="flex flex-col my-auto">
          {% if github_user.name  %}
            <span class="font-bold my-auto" style="font-size: 24px;" id="user_name">{{ github_user.name }}<a id="github_link" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" href="https://github.com/{{github_user.github_id}}" target="_blank" style="outline:none; color: inherit;"><i class="bi bi-github" style="font-size: 20px; margin-left: 15px;"></i></a></span>
          {% endif %}
          <span class="text-gray-500 my-auto" style="font-size: 20px;" id="user_github_id">{{ github_user.github_id }}</span>
          {% if github_user.bio %}
            <span class="mt-3" style="font-size: 16px;" id="user_bio">{{ github_user.bio }}</span>
          {% endif %}
        </div>
      </div>
    </div>
    {% if top3_tech_data %}
      <div style="width: 35%;">
        <h1 class="font-bold mb-3" style="font-size: 1rem;">My Ranking</h1>
        <div class="mt-2">
          {% for tech_data in top3_tech_data %}
            <div class="flex mt-2 bg-white rounded-lg shadow-xs dark:bg-gray-800" style="justify-content: space-between; padding: 1%;">
              <div class="flex align-center">
                <img style="width: 3.5rem; height: 3.5rem;" src="{% get_static_prefix %}img/{{ tech_data.file | replace_special_char }}.png">
                <span class="ml-4 font-bold" style="font-size: 1rem;">{{ tech_data.name }}</span>
              </div>
              <div class="flex" style="align-items: center; justify-content: center; width: 38%;">
                <div class="flex" style="flex-direction: column; align-items: center; justify-content: center;">
                  <span class="font-bold" style="font-size: 1rem;">{{ tech_data.rank.rank }}</span>
                  <h5 class="font-bold" style="color: #D5D8DD">rank</h5>
                </div>
                <div class="flex ml-3" style="flex-direction: column;">
                  <div class="flex" style="align-items: center; justify-content: center;">
                    {% if tech_data.rank.change_rank > 0 %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                      </svg>
                    {% elif tech_data.rank.change_rank < 0 %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="blue" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                      </svg>
                    {% else %}
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#96C362" class="bi bi-circle-fill" viewBox="0 0 16 16" style="margin-left: 6px; margin-right: 7px;">
                        <circle cx="8" cy="8" r="8"/>
                      </svg>
                    {% endif %}
                    <span class="text-xs">{{ tech_data.rank.change_rank }}</span>
                  </div>
                  <span style="color: #A3A19C; font-size: 0.6rem;">(Top {{ tech_data.rank_percent }}%)</span>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="w-full mb-8 md:w-full scroll" style="max-width:1100px">
    <div style="display:flex; justify-content: space-between;">
      <span class="font-bold mb-2" style="font-size:20px; font-family: 'Noto Sans KR';float: left">{% trans "Tech Stack" %}<g class="ml-3" style="font-weight: normal; font-size: 15px;">{% trans "in the last year" %}</g></span>
      <div id="update_btn" class="btn mt-2 mb-1" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" style="display: flex;cursor: pointer; align-items: center; background-color: #d9d2e9;"
        {% if not request.user.is_authenticated %}
          onclick="go_to_login()"
        {% elif request.user.github_id == github_user.github_id %}
          @click="openModal"
        {% else %}
          onclick="analyze_developer('{{github_user.github_id}}', true)"
        {% endif %}
      >
        <span class="font-semibold" style="color:#866CF3">{% trans "Update" %}</span>
        <img id="update_btn_img" src="{% static 'img/update-arrows.svg' %}" alt="update" style="margin-left: 5px; padding: 2px; background-color: #866BF2; width: 18px; height:18px; border-radius: 50%; font-weight: bold; cursor: pointer;">
      </div>
    </div>
    <div id="graph_box" class="flex-1 md:w-full w-full h-full overflow-hidden bg-white rounded-lg shadow-xs p-6">
      <div class="flex w-full mb-3 scroll-x">
        {% for tech_data in tech_card_data %}
          <div class="tech_card" onclick="highlight_card_tech(event, '{{tech_data.name}}', '{{tech_data.color}}')" selected='false' style="cursor: pointer;">
            <table style="min-height: 100px;width: 126px;">
              <tbody class="tech">
              <tr>
                <td class="w-full">
                  <div class="w-full inline-block">
                    <div class="tech_color mt-2 mr-2" style="background-color: {{ tech_data.color }}; float: right; display: block;"></div>
                  </div>
                  <img src="{% get_static_prefix %}img/{{ tech_data.file | replace_special_char }}.png" class="mx-auto mb-2"/>
                  <div class="mb-2 px-2" style="text-align: center; display: flex; flex-direction: column;">
                    {{ tech_data.name }}
                    <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full" style="font-size: .75rem; text-align: center; margin: 0 auto; margin-top: 8px;">
                      {{ tech_data.percent }}%
                    </span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        {% endfor %}
      </div>
      <!--Git grass(start)-->
      <div class="git-table shadow-xs" style="max-width:1010px;max-height:170px"></div>
      <!--Git grass(end)-->

      <!--Git grahp(start)-->
      <div class="mt-4">
        <div class="mb-3">
          <span class="font-bold" style="font-size: 20px;">{% trans "Tech activity" %}</span>
        </div>
        <div class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800" id="tech_grahp">
        </div>
        <button id="show_more_btn" class="bg-white w-full border border-gray-500 rounded-md flex items-center justify-center px-4 text-center mt-3" style="color: #2977de; height: 40px;">
            {% trans "Show more activity" %}
        </button>
      </div>
      <!--Git grahp(end)-->
    </div>
  </div>
  {% include 'token_modals.html' %}
  {% include 'desc_div.html' %}
</div>
{% endblock content %}
