{% load static custom_tags i18n %}
{% block content %}
<script type="text/javascript" src="{% static 'js/profile_calendar.js' %}"></script>
<div style="margin:0 auto;">
  <div class="flex">
    <div class="mb-8" style="flex-grow: 2">
      <div class="flex">
        <div>
          <img src="{{github_user.avatar_url}}" class="profile mr-6 profile-image">
          <div class="mt-3">
            <button type="button" class="btn btn-danger font-semibold" id="code_crazy_btn" onmousemove="show_desc(event)" onmouseleave="show_desc(event)"
              style="color:rgb(200,30,30);background-color:rgb(253,232,232);border-color:rgb(253,232,232);">
              {% trans "Code Crazy" %} <span class="badge badge-danger" style="font-size:90%;margin-left:4px;">{{ days }}%</span>
            </button>
          </div>
        </div>
        <div class="flex flex-col my-auto">
          {% if github_user.name  %}
            <span class="font-bold my-auto" style="font-size: 24px;" id="user_name">{{ github_user.name }}</span>
          {% endif %}
          <span class="text-gray-500 my-auto" style="font-size: 20px;" id="user_github_id">{{ github_user.github_id }}</span>
          {% if github_user.bio %}
            <span class="mt-3" style="font-size: 16px;" id="user_bio">{{ github_user.bio }}</span>
          {% endif %}
        </div>
      </div>
    </div>
    {% if top3_tech_data %}
      <div style="width: 43%; background-color: white; padding: 1%;">
        <h1 class="text-2xl font-bold">MY Ranking</h1>
        <div class="mt-2" style="padding-left: 5%; padding-right: 5%;">
          {% for tech_data in top3_tech_data %}
            <div class="flex mt-3" style="justify-content: space-between;">
              <div class="flex align-center">
                <img src="{% get_static_prefix %}img/{{ tech_data.file | replace_special_char }}.png">
                <span class="ml-4 font-bold text-xl">{{ tech_data.name }}</span>
              </div>
              <div class="flex" style="flex-direction: column; align-items: center; justify-content: center;" title='Top {{ tech_data.rank_percent }}% &#13; out of {{ tech_data.ranker_num }}                    Worldwide'>
                <span class="font-bold text-xl">{{ tech_data.rank }}</span>
                <h5 class="font-bold" style="color: #D5D8DD">rank</h5>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="w-full mb-8 md:w-full scroll" style="max-width:1100px">
    <div style="display:flex; justify-content: space-between;">
      <span class="font-bold mb-2" style="font-size:20px; font-family: 'Noto Sans KR';float: left">{% trans "Tech Stack" %}<g class="ml-3" style="font-weight: normal;">{% trans "in the last year" %}</g></span>
      <div style="display: flex;cursor: pointer; align-items: center;">
        <a id="github_link" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" href="https://github.com/{{github_user.github_id}}" target="_blank" style="outline:none; color: inherit;"><i class="bi bi-github" style="font-size: 20px; margin-right: 15px;"></i></a>
        {% if not request.user.is_authenticated %}
          <img id="svg_link" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" class="pointer" onclick="go_to_login()" style="width:20px; height: 20px; margin-right: 15px;" src="{% static 'img/share.png' %}" alt="share">
          <img id="update_btn" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" onclick="go_to_login()" src="{% static 'img/update.png' %}" alt="update" style="width:20px; height: 20px;">
        {% elif request.user.github_id == github_user.github_id %}
          <img id="svg_link" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" class="pointer" onclick="copy_svg_url('{{github_user.github_id}}')" style="width:20px; height: 20px; margin-right: 15px;" src="{% static 'img/share.png' %}" alt="share">
          <img id="update_btn" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" @click="openModal" src="{% static 'img/update.png' %}" alt="update" style="width:20px; height: 20px;">
        {% else %}
          <img id="svg_link" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" class="pointer" onclick="copy_svg_url('{{github_user.github_id}}')" style="width:20px; height: 20px; margin-right: 15px;" src="{% static 'img/share.png' %}" alt="share">
          <img id="update_btn" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" onclick="analyze_developer('{{github_user.github_id}}', true)" src="{% static 'img/update.png' %}" alt="update" style="width:20px; height: 20px;">
        {% endif %}
      </div>
    </div>
    <div id="graph_box" class="flex-1 md:w-full w-full h-full overflow-hidden bg-white rounded-lg shadow-xs p-6">
      <div class="flex w-full mb-3 scroll-x">
        {% for tech_data in tech_card_data %}
          <div class="tech_card" onclick="highlight_card_tech(event, '{{tech_data.name}}', '{{tech_data.color}}')" selected='false' style="cursor: pointer;">
            <table style="min-height: 100px;width: 126px;">
              <tbody class="tech">
              <tr>
                <td class="w-full">
                  <div class="w-full inline-block">
                    <div class="tech_color mt-2 mr-2" style="background-color: {{ tech_data.color }}; float: right; display: block;"></div>
                  </div>
                  <img src="{% get_static_prefix %}img/{{ tech_data.file | replace_special_char }}.png" class="mx-auto mb-2"/>
                  <div class="mb-2 px-2" style="text-align: center; display: flex; flex-direction: column;">
                    {{ tech_data.name }}
                    <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full" style="font-size: .75rem; text-align: center; margin: 0 auto; margin-top: 8px;">
                      {{ tech_data.percent }}%
                    </span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        {% endfor %}
      </div>
      <!--Git grass(start)-->
      <div class="git-table shadow-xs" style="max-width:1010px;max-height:170px"></div>
      <!--Git grass(end)-->

      <!--Git grahp(start)-->
      <div class="mt-4">
        <div class="mb-3">
          <span class="font-bold" style="font-size: 20px;">{% trans "Tech activity" %}</span>
        </div>
        <div class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800" id="tech_grahp">
        </div>
        <button id="show_more_btn" class="bg-white w-full border border-gray-500 rounded-md flex items-center justify-center px-4 text-center mt-3" style="color: #2977de; height: 40px;">
            {% trans "Show more activity" %}
        </button>
      </div>
      <!--Git grahp(end)-->
    </div>
  </div>
  {% include 'token_modals.html' %}
  {% include 'desc_div.html' %}
</div>
{% endblock content %}
