{% load static custom_tags i18n %}
{% block content %}
<script type="text/javascript" src="{% static 'js/profile_calendar.js' %}"></script>
<div style="margin:0 auto;">
  <div class="flex" style="max-width: 1060px;">
    <div style="width: 65%;">
      <div class="flex">
        <div class="mr-2 flex flex-column" style="align-items: center;">
          <div class="relative hidden mr-3 rounded-lg md:block" style="width:120px;height:120px">
            <img class="object-cover w-full h-full rounded-lg" src="/media/{{group.img}}" alt="" loading="lazy">
            <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
          </div>
        </div>
        <div class="flex flex-col">
          <span class="font-bold" style="font-size: 24px;" id="user_name">{{group.name}}</span>
          <span class="text-gray-500 mt-2" style="font-size: 20px;">{{group.description}}</span>
          <div class="flex flex-wrap mt-2">
            {% for topic in group.topic_set.all %}
            <div class="rounded-full px-2 py-1 mr-2 mt-2 text-sm font-bold" style="background-color: #DDF4FF; color:#2476DD;white-space : nowrap">
              {{topic.name}}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="mt-4 mb-2" style="max-width:400px">
        <div class="flex" style="justify-content: space-between;">
          <span class="text-gray-500 mt-2 text-lg">Members ({{group.github_users.all.count}} people)</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="gray" class="mt-2 bi bi-caret-down-fill" viewBox="0 0 16 16">
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
          </svg>
        </div>
        <div class="flex mt-2 bg-white rounded-lg shadow-xs dark:bg-gray-800" style="justify-content: space-between; padding: 1%; cursor:pointer; max-width:400px;">
          <div class="flex align-center">
            {% for github_user in group.github_users.all %}
            <img class="object-cover w-full h-full rounded-full mx-2 my-2" src="{{github_user.avatar_url}}" style="width:32px; height:32px">
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
    <div style="width: 35%;">
      <h1 class="font-bold mb-3" style="font-size: 1rem;">{% trans "Group Ranking" %}</h1>

      <!-- TOP 1 -->
      <div class="mt-2">
        <div class="px-2 py-1 flex mt-2 bg-white rounded-lg shadow-xs dark:bg-gray-800" style="justify-content: space-between; padding: 1%; cursor:pointer;">
          <div class="flex align-center">
            <img class="object-cover w-full h-full rounded-full mt-1" src="https://avatars.githubusercontent.com/u/6702424?v=4" style="width:42px;height:42px">
            <span class="ml-4 font-bold" style="font-size: 1rem;">garronej</span>
          </div>
          <div class="flex" style="align-items: center; justify-content: center; width: 38%;">
            <div class="flex" style="flex-direction: column; align-items: center; justify-content: center;">
              <span class="font-bold" style="font-size: 1rem;">1</span>
              <h5 class="font-bold" style="color: #D5D8DD">rank</h5>
            </div>
            <div class="flex ml-3" style="flex-direction: column;">
              <div class="flex" style="align-items: center; justify-content: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                </svg>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="blue" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                     <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                     </svg> -->
                <span class="text-xs">4</span>
              </div>
              <span style="color: #A3A19C; font-size: 0.6rem;">(Top 1%)</span>
            </div>
          </div>
        </div>
      </div>

      <!-- TOP 2 -->
      <div class="mt-2">
        <div class="px-2 py-1 flex mt-2 bg-white rounded-lg shadow-xs dark:bg-gray-800" style="justify-content: space-between; padding: 1%; cursor:pointer;">
          <div class="flex align-center">
            <img class="object-cover w-full h-full rounded-full mt-1" src="https://avatars.githubusercontent.com/u/1500684?v=4" style="width:42px;height:42px">
            <span class="ml-4 font-bold" style="font-size: 1rem;">kentcdodds</span>
          </div>
          <div class="flex" style="align-items: center; justify-content: center; width: 38%;">
            <div class="flex" style="flex-direction: column; align-items: center; justify-content: center;">
              <span class="font-bold" style="font-size: 1rem;">1</span>
              <h5 class="font-bold" style="color: #D5D8DD">rank</h5>
            </div>
            <div class="flex ml-3" style="flex-direction: column;">
              <div class="flex" style="align-items: center; justify-content: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="blue" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
                <span class="text-xs">5</span>
              </div>
              <span style="color: #A3A19C; font-size: 0.6rem;">(Top 1%)</span>
            </div>
          </div>
        </div>
      </div>

      <!-- TOP 3 -->
      <div class="mt-2">
        <div class="px-2 py-1 flex mt-2 bg-white rounded-lg shadow-xs dark:bg-gray-800" style="justify-content: space-between; padding: 1%; cursor:pointer;">
          <div class="flex align-center">
            <img class="object-cover w-full h-full rounded-full mt-1" src="https://avatars.githubusercontent.com/u/72603?v=4" style="width:42px;height:42px">
            <span class="ml-4 font-bold" style="font-size: 1rem;">PowerKiKi</span>
          </div>
          <div class="flex" style="align-items: center; justify-content: center; width: 38%;">
            <div class="flex" style="flex-direction: column; align-items: center; justify-content: center;">
              <span class="font-bold" style="font-size: 1rem;">1</span>
              <h5 class="font-bold" style="color: #D5D8DD">rank</h5>
            </div>
            <div class="flex ml-3" style="flex-direction: column;">
              <div class="flex" style="align-items: center; justify-content: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                </svg>
                <span class="text-xs">13</span>
              </div>
              <span style="color: #A3A19C; font-size: 0.6rem;">(Top 1%)</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="w-full md:w-full scroll" style="max-width:1100px">
    <div style="display:flex; justify-content: space-between;">
      <span class="font-bold" style="padding-top:10px;font-size:20px; font-family: 'Noto Sans KR';float: left">{% trans "Tech Stack" %}<g class="ml-3" style="font-weight: normal; font-size: 15px;">{% trans "in the last year" %}</g></span>
    </div>

    <!-- TackStack Graph Box (Start) -->
    <div id="graph_box" class="mt-2 flex-1 md:w-full w-full h-full overflow-hidden bg-white rounded-lg shadow-xs p-6">
      <!-- Members start-->
      <div class="flex w-full mb-3 scroll-x">
        {% for github_user in group.github_users.all %}
        <div selected="false" style="cursor: pointer;">
          <table style="min-height: 100px;width: 126px;">
            <tbody class="tech">
              <tr>
                <td class="w-full">
                  <img class="object-cover w-full h-full rounded-full mx-auto mb-2 mt-2" src="{{github_user.avatar_url}}" style="width:64px;height:64px">
                  <div class="mb-2 px-2" style="text-align: center; display: flex; flex-direction: column;">
                    {{github_user.github_id}}
                    <span class="badge badge-danger px-1 py-1" style="font-size: .75rem; text-align: center; margin: 0 auto; margin-top: 8px;">125%</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>
      <!-- Members end-->

      <!-- Tech Cards Start -->
      <div class="flex w-full mb-3 scroll-x">

        {% for tech_card in group_tech_card %}
          <div class="tech_card" onclick="highlight_group_card_tech(event, '{{ tech_card.name }}', '{{ tech_card.color }}')" selected="false" style="cursor: pointer;">
            <table style="min-height: 100px;width: 126px;">
              <tbody class="tech">
                <tr>
                  <td class="w-full">
                    <div class="w-full inline-block">
                      <div class="tech_color mt-2 mr-2" style="background-color: {{ tech_card.color }}; float: right; display: block;"></div>
                    </div>
                    <img src="/static/img/{{ tech_card.file }}.png" onerror="this.onerror=null; this.src='/static/img/none3.png';" class="mx-auto mb-2">
                    <div class="mb-2 px-2" style="text-align: center; display: flex; flex-direction: column;">
                      {{ tech_card.name }}
                      <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full" style="font-size: .75rem; text-align: center; margin: 0 auto; margin-top: 8px;">
                        {{ tech_card.percent }}%
                      </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        {% endfor %}

      </div>
      <!-- Tech Cards End -->

      <!--Git grass(start)-->
      <div class="git-table shadow-xs" style="max-width: 1010px; max-height: 170px; position: relative;"></div>
      <!--Git grass(end)-->

      <!--Git grahp(start)-->
      <div class="mt-4">
        <div class="mb-3">
          <span class="font-bold" style="font-size: 20px;">기술 활동</span>
        </div>
        <!-- Selected one tech (start) -->
        <div id="tech_grahp">
        </div>

        <button id="show_more_btn" class="bg-white w-full border border-gray-500 rounded-md flex items-center justify-center px-4 text-center mt-3" style="color: #2977de; height: 40px;">
          활동 더 보기
        </button>
      </div>
      <!--Git grahp(end)-->
    </div>
    <!-- TechStack Graph Box (End) -->

  </div>
  {% include 'desc_div.html' %}
  {% include 'charts.html' %}
  {% include 'group_ranking.html' %}
</div>
{% endblock content %}
