{% load static custom_tags i18n %}
{% block content %}
<script type="text/javascript" src="{% static 'js/profile_calendar.js' %}"></script>
<div style="margin:0 auto;">
  <div class="flex" style="max-width: 1060px;">
    <div style="width: 65%;">
      <div class="flex">
        <div class="mr-2 flex flex-column" style="align-items: center;">
          <div class="relative hidden mr-3 rounded-lg md:block" style="width:120px;height:120px">
            <img class="object-cover w-full h-full rounded-lg" src="/media/{{group.img}}" alt="" loading="lazy">
            <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
          </div>
        </div>
        <div class="flex flex-col">
          <span class="font-bold" style="font-size: 24px;" id="user_name">{{group.name}}</span>
          <span class="text-gray-500 mt-2" style="font-size: 20px;">{{group.description}}</span>
          <div class="flex flex-wrap mt-2">
            {% for topic in group.topic_set.all %}
            <div class="rounded-full px-2 py-1 mr-2 mt-2 text-sm font-bold" style="background-color: #DDF4FF; color:#2476DD;white-space : nowrap">
              {{topic.name}}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="mt-4 mb-2" style="max-width:400px">
        <div class="flex" style="justify-content: space-between;">
          <span class="text-gray-500 mt-2 text-lg">Members ({{group.github_users.all.count}} people)</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="gray" class="mt-2 bi bi-caret-down-fill" viewBox="0 0 16 16">
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
          </svg>
        </div>
        <div class="flex mt-2 bg-white rounded-lg shadow-xs dark:bg-gray-800" style="justify-content: space-between; padding: 1%; cursor:pointer; max-width:400px;">
          <div class="flex align-center">
            {% for github_user in group.github_users.all %}
            <img class="object-cover w-full h-full rounded-full mx-2 my-2" src="{{github_user.avatar_url}}" style="width:32px; height:32px">
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
    <div style="width: 35%;">
      <h1 class="font-bold mb-3" style="font-size: 1rem;">{% trans "Group Ranking" %}</h1>

      <!-- TOP 1 -->
      <div class="mt-2">
        <div class="px-2 py-1 flex mt-2 bg-white rounded-lg shadow-xs dark:bg-gray-800" style="justify-content: space-between; padding: 1%; cursor:pointer;">
          <div class="flex align-center">
            <img class="object-cover w-full h-full rounded-full mt-1" src="https://avatars.githubusercontent.com/u/6702424?v=4" style="width:42px;height:42px">
            <span class="ml-4 font-bold" style="font-size: 1rem;">garronej</span>
          </div>
          <div class="flex" style="align-items: center; justify-content: center; width: 38%;">
            <div class="flex" style="flex-direction: column; align-items: center; justify-content: center;">
              <span class="font-bold" style="font-size: 1rem;">1</span>
              <h5 class="font-bold" style="color: #D5D8DD">rank</h5>
            </div>
            <div class="flex ml-3" style="flex-direction: column;">
              <div class="flex" style="align-items: center; justify-content: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                </svg>
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="blue" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                     <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                     </svg> -->
                <span class="text-xs">4</span>
              </div>
              <span style="color: #A3A19C; font-size: 0.6rem;">(Top 1%)</span>
            </div>
          </div>
        </div>
      </div>

      <!-- TOP 2 -->
      <div class="mt-2">
        <div class="px-2 py-1 flex mt-2 bg-white rounded-lg shadow-xs dark:bg-gray-800" style="justify-content: space-between; padding: 1%; cursor:pointer;">
          <div class="flex align-center">
            <img class="object-cover w-full h-full rounded-full mt-1" src="https://avatars.githubusercontent.com/u/1500684?v=4" style="width:42px;height:42px">
            <span class="ml-4 font-bold" style="font-size: 1rem;">kentcdodds</span>
          </div>
          <div class="flex" style="align-items: center; justify-content: center; width: 38%;">
            <div class="flex" style="flex-direction: column; align-items: center; justify-content: center;">
              <span class="font-bold" style="font-size: 1rem;">1</span>
              <h5 class="font-bold" style="color: #D5D8DD">rank</h5>
            </div>
            <div class="flex ml-3" style="flex-direction: column;">
              <div class="flex" style="align-items: center; justify-content: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="blue" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                </svg>
                <span class="text-xs">5</span>
              </div>
              <span style="color: #A3A19C; font-size: 0.6rem;">(Top 1%)</span>
            </div>
          </div>
        </div>
      </div>

      <!-- TOP 3 -->
      <div class="mt-2">
        <div class="px-2 py-1 flex mt-2 bg-white rounded-lg shadow-xs dark:bg-gray-800" style="justify-content: space-between; padding: 1%; cursor:pointer;">
          <div class="flex align-center">
            <img class="object-cover w-full h-full rounded-full mt-1" src="https://avatars.githubusercontent.com/u/72603?v=4" style="width:42px;height:42px">
            <span class="ml-4 font-bold" style="font-size: 1rem;">PowerKiKi</span>
          </div>
          <div class="flex" style="align-items: center; justify-content: center; width: 38%;">
            <div class="flex" style="flex-direction: column; align-items: center; justify-content: center;">
              <span class="font-bold" style="font-size: 1rem;">1</span>
              <h5 class="font-bold" style="color: #D5D8DD">rank</h5>
            </div>
            <div class="flex ml-3" style="flex-direction: column;">
              <div class="flex" style="align-items: center; justify-content: center;">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                  <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                </svg>
                <span class="text-xs">13</span>
              </div>
              <span style="color: #A3A19C; font-size: 0.6rem;">(Top 1%)</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="w-full md:w-full scroll" style="max-width:1100px">
    <div style="display:flex; justify-content: space-between;">
      <span class="font-bold" style="padding-top:10px;font-size:20px; font-family: 'Noto Sans KR';float: left">{% trans "Tech Stack" %}<g class="ml-3" style="font-weight: normal; font-size: 15px;">{% trans "in the last year" %}</g></span>
    </div>

    <!-- TackStack Graph Box (Start) -->
    <div id="graph_box" class="mt-2 flex-1 md:w-full w-full h-full overflow-hidden bg-white rounded-lg shadow-xs p-6">
      <!-- Members start-->
      <div class="flex w-full mb-3 scroll-x">
        {% for github_user in group.github_users.all %}
        <div selected="false" style="cursor: pointer;">
          <table style="min-height: 100px;width: 126px;">
            <tbody class="tech">
              <tr>
                <td class="w-full">
                  <img class="object-cover w-full h-full rounded-full mx-auto mb-2 mt-2" src="{{github_user.avatar_url}}" style="width:64px;height:64px">
                  <div class="mb-2 px-2" style="text-align: center; display: flex; flex-direction: column;">
                    {{github_user.github_id}}
                    <span class="badge badge-danger px-1 py-1" style="font-size: .75rem; text-align: center; margin: 0 auto; margin-top: 8px;">125%</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>
      <!-- Members end-->

      <!-- Tech Cards Start -->
      <div class="flex w-full mb-3 scroll-x">

        {% for tech_card in group_tech_card %}
          <div class="tech_card" onclick="highlight_card_tech(event, '{{ tech_card.name }}', '{{ tech_card.color }}')" selected="false" style="cursor: pointer;">
            <table style="min-height: 100px;width: 126px;">
              <tbody class="tech">
                <tr>
                  <td class="w-full">
                    <div class="w-full inline-block">
                      <div class="tech_color mt-2 mr-2" style="background-color: {{ tech_card.color }}; float: right; display: block;"></div>
                    </div>
                    <img src="/static/img/{{ tech_card.file }}.png" onerror="this.onerror=null; this.src='/static/img/none3.png';" class="mx-auto mb-2">
                    <div class="mb-2 px-2" style="text-align: center; display: flex; flex-direction: column;">
                      {{ tech_card.name }}
                      <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full" style="font-size: .75rem; text-align: center; margin: 0 auto; margin-top: 8px;">
                        {{ tech_card.percent }}%
                      </span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        {% endfor %}

      </div>
      <!-- Tech Cards End -->

      <!--Git grass(start)-->
      <div class="git-table shadow-xs" style="max-width: 1010px; max-height: 170px; position: relative;"></div>
      <!--Git grass(end)-->

      <!--Git grahp(start)-->
      <div class="mt-4">
        <div class="mb-3">
          <span class="font-bold" style="font-size: 20px;">기술 활동</span>
        </div>
        <div id="tech_grahp">
          <h3 class="h6 pr-2 py-1 border-bottom mb-3" style="height: 14px; border: none;">
            <span class="pl-2 pr-3 text-sm font-semibold" style="background-color:white">August 13<span style="font-weight: normal;">, 2023</span>
            </span>
          </h3>
          <div class="text-gray-700 dark:text-gray-400 tech_graph" style="display:flex; border: none;">
            <div class="px-3 py-3">
              <div class="flex items-center text-sm">
                <div style="width:60px;margin-right:20px">
                  <img src="/static/img/react.png" onerror="this.onerror=null; this.src='/static/img/none3.png';" loading="lazy">
                </div>
                <div style="width:60px">
                  <p class="font-semibold">React</p>
                </div>
              </div>
            </div>
            <div class="pt-4 px-3" style="width:100%">
              <!-- Lines bar chart (start) -->
              <div class="py-3 flex" style="justify-content:center; align-items:center;">
                <div class="rounded-full" style="background-color:lightgray; width: 95%;">
                  <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full tech_lines" lines="5" tech="React" style="width:50%; background-color:rgba(128,222,234,1);"><p style="color:white">5 lines</p>
                  </div>
                </div>
              </div>
              <!-- Lines bar chart (end) -->
              <!-- Git Repo & Commits (start) -->
              <div class="ml-4 mb-4">
                <div class="flex">
                  <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="mt-1">
                    <path d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z"></path>
                  </svg>
                  <span class="ml-2">Created 25 commits in 2 repositories</span>
                </div>
                <div class="ml-4">
                  <div class="mt-2 flex">
                    <a class="text-blue-500 mr-3" href="https://github.com/brunafreit4s/tourism-app">brunafreit4s/tourism-app</a>
                    <a class="text-gray-400" href="https://github.com/brunafreit4s/tourism-app/commits?author=brunafreit4s&since=2023-06-30&until=2023-07-31">18 commits</a>
                  </div>
                  <div class="mt-2 flex">
                    <a class="text-blue-500 mr-3" href="https://github.com/brunafreit4s/DemoWebCam">brunafreit4s/DemoWebCam</a>
                    <a class="text-gray-400" href="https://github.com/brunafreit4s/DemoWebCam/commits?author=brunafreit4s&since=2023-06-30&until=2023-07-31">4 commits</a>
                  </div>
                </div>
              </div>
              <!-- Git Repo & Commits (end) -->
            </div>
          </div>
        </div>

        <!-- Selected one tech (start) -->
        <div id="tech_grahp"><div class="flex items-center text-sm mb-2">
          <div style="width:60px;margin-right:20px">
            <img src="/static/img/nodejs.png" onerror="this.onerror=null; this.src='/static/img/none3.png';" loading="lazy">
          </div>
          <div style="width:60px">
            <p class="font-semibold">Nodejs</p>
          </div>
        </div>
        <h3 class="h6 pr-2 py-1 border-bottom mb-3" style="height: 14px; border: none;">
          <span class="pl-2 pr-3 text-sm font-semibold" style="background-color:white">August 3<span style="font-weight: normal;">, 2023</span>
          </span>
        </h3>
        <div class="text-gray-700 dark:text-gray-400 tech_graph" style="display:flex; border: none;">
          <div class="px-3" style="width:100%">
            <!-- Lines bar chart (start) -->
            <div class="py-3 flex" style="justify-content:center; align-items:center;">
              <div class="rounded-full" style="background-color:lightgray; width: 95%;">
                <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full tech_lines" lines="5" tech="Nodejs" style="width:10%; background-color:rgba(76,175,80,1);"><p style="color:white">5 lines</p>
                </div>
              </div>
            </div>
            <!-- Lines bar chart (end) -->
            <!-- Git Repo & Commits (start) -->
            <div class="ml-4 mb-4">
              <div class="flex">
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="mt-1">
                  <path d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z"></path>
                </svg>
                <span class="ml-2">Created 25 commits in 2 repositories</span>
              </div>
              <div class="ml-4">
                <div class="mt-2 flex">
                  <a class="text-blue-500 mr-3" href="https://github.com/brunafreit4s/tourism-app">brunafreit4s/tourism-app</a>
                  <a class="text-gray-400" href="https://github.com/brunafreit4s/tourism-app/commits?author=brunafreit4s&since=2023-06-30&until=2023-07-31">18 commits</a>
                </div>
                <div class="mt-2 flex">
                  <a class="text-blue-500 mr-3" href="https://github.com/brunafreit4s/DemoWebCam">brunafreit4s/DemoWebCam</a>
                  <a class="text-gray-400" href="https://github.com/brunafreit4s/DemoWebCam/commits?author=brunafreit4s&since=2023-06-30&until=2023-07-31">4 commits</a>
                </div>
              </div>
            </div>
            <!-- Git Repo & Commits (end) -->
          </div>
        </div>
        <h3 class="h6 pr-2 py-1 border-bottom mb-3" style="height: 14px; border: none;">
          <span class="pl-2 pr-3 text-sm font-semibold" style="background-color:white">August 2<span style="font-weight: normal;">, 2023</span>
          </span>
        </h3>
        <div class="text-gray-700 dark:text-gray-400 tech_graph" style="display:flex; border: none;">
          <div class="px-3" style="width:100%">
            <!-- Lines bar chart (start) -->
            <div class="py-3 flex" style="justify-content:center; align-items:center;">
              <div class="rounded-full" style="background-color:lightgray; width: 95%;">
                <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full tech_lines" lines="200" tech="Nodejs" style="width:47.3186119873817%; background-color:rgba(76,175,80,1);"><p style="color:white">200 lines</p>
                </div>
              </div>
            </div>
            <!-- Lines bar chart (end) -->
            <!-- Git Repo & Commits (start) -->
            <div class="ml-4 mb-4">
              <div class="flex">
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="mt-1">
                  <path d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z"></path>
                </svg>
                <span class="ml-2">Created 25 commits in 2 repositories</span>
              </div>
              <div class="ml-4">
                <div class="mt-2 flex">
                  <a class="text-blue-500 mr-3" href="https://github.com/brunafreit4s/tourism-app">brunafreit4s/tourism-app</a>
                  <a class="text-gray-400" href="https://github.com/brunafreit4s/tourism-app/commits?author=brunafreit4s&since=2023-06-30&until=2023-07-31">18 commits</a>
                </div>
                <div class="mt-2 flex">
                  <a class="text-blue-500 mr-3" href="https://github.com/brunafreit4s/DemoWebCam">brunafreit4s/DemoWebCam</a>
                  <a class="text-gray-400" href="https://github.com/brunafreit4s/DemoWebCam/commits?author=brunafreit4s&since=2023-06-30&until=2023-07-31">4 commits</a>
                </div>
              </div>
            </div>
            <!-- Git Repo & Commits (end) -->
          </div>
        </div>
        <h3 class="h6 pr-2 py-1 border-bottom mb-3" style="height: 14px; border: none;">
          <span class="pl-2 pr-3 text-sm font-semibold" style="background-color:white">August 1<span style="font-weight: normal;">, 2023</span>
          </span>
        </h3>
        <div class="text-gray-700 dark:text-gray-400 tech_graph" style="display:flex; border: none;">
          <div class="px-3" style="width:100%">
            <!-- Lines bar chart (start) -->
            <div class="py-3 flex" style="justify-content:center; align-items:center;">
              <div class="rounded-full" style="background-color:lightgray; width: 95%;">
                <div class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full tech_lines" lines="429" tech="Nodejs" style="width:99%; background-color:rgba(76,175,80,1);"><p style="color:white">429 lines</p>
                </div>
              </div>
            </div>
            <!-- Lines bar chart (end) -->
            <!-- Git Repo & Commits (start) -->
            <div class="ml-4 mb-4">
              <div class="flex">
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="mt-1">
                  <path d="M2 2.5A2.5 2.5 0 0 1 4.5 0h8.75a.75.75 0 0 1 .75.75v12.5a.75.75 0 0 1-.75.75h-2.5a.75.75 0 0 1 0-1.5h1.75v-2h-8a1 1 0 0 0-.714 1.7.75.75 0 1 1-1.072 1.05A2.495 2.495 0 0 1 2 11.5Zm10.5-1h-8a1 1 0 0 0-1 1v6.708A2.486 2.486 0 0 1 4.5 9h8ZM5 12.25a.25.25 0 0 1 .25-.25h3.5a.25.25 0 0 1 .25.25v3.25a.25.25 0 0 1-.4.2l-1.45-1.087a.249.249 0 0 0-.3 0L5.4 15.7a.25.25 0 0 1-.4-.2Z"></path>
                </svg>
                <span class="ml-2">Created 25 commits in 2 repositories</span>
              </div>
              <div class="ml-4">
                <div class="mt-2 flex">
                  <a class="text-blue-500 mr-3" href="https://github.com/brunafreit4s/tourism-app">brunafreit4s/tourism-app</a>
                  <a class="text-gray-400" href="https://github.com/brunafreit4s/tourism-app/commits?author=brunafreit4s&since=2023-06-30&until=2023-07-31">18 commits</a>
                </div>
                <div class="mt-2 flex">
                  <a class="text-blue-500 mr-3" href="https://github.com/brunafreit4s/DemoWebCam">brunafreit4s/DemoWebCam</a>
                  <a class="text-gray-400" href="https://github.com/brunafreit4s/DemoWebCam/commits?author=brunafreit4s&since=2023-06-30&until=2023-07-31">4 commits</a>
                </div>
              </div>
            </div>
            <!-- Git Repo & Commits (end) -->
          </div>
        </div>
        <!-- Selected one tech (end)-->
        </div>
        <button id="show_more_btn" class="bg-white w-full border border-gray-500 rounded-md flex items-center justify-center px-4 text-center mt-3" style="color: #2977de; height: 40px;">
          활동 더 보기
        </button>
      </div>
      <!--Git grahp(end)-->
    </div>
    <!-- TechStack Graph Box (End) -->

  </div>
  {% include 'desc_div.html' %}
  {% include 'charts.html' %}
  {% include 'group_ranking.html' %}
</div>
{% endblock content %}
