{% extends 'base.html' %}
{% load static custom_tags i18n %}
{% block content %}
  <div id='under_header' onclick="reset_opacity()" class="flex items-center p-6 bg-gray-50 w-full h-full">
    <div style="margin:0 auto;">

      <!-- First Row Start -->
      <div class="grid gap-4 mb-3 md:grid-cols-2 xl:grid-cols-2-2">
        <div style="min-width:450px">

          <!-- Search Tech -->
          {% include 'ranking_side.html' %}
          <!-- Tech Card Group Start -->
          <div class="grid gap-4 mb-3 md:grid-cols-2 xl:grid-cols-3">

            <!-- Card -->
            {% for tech, color in github_calendar_colors.items %}
              <div class="flex items-center ml-2 bg-white rounded-lg shadow-xs dark:bg-gray-800 mb-3 pointer tech_list" onclick="window.location.href='/ranking/{{ tech|replace_special_char }}'"
                   style="width: 125px;height: 50px; {% if tech == tech_name %} border: 2px solid {{ color }} {% endif %}">
                <img class="mr-8" style="width:45px;height:45px" src="{% get_static_prefix %}img/{{ tech.lower|replace_special_char }}.png">
                <p class="pl-2 py-2 text-xs">{{ tech }}</p>
              </div>
            {% endfor %}
          </div>
          <!-- Tech Card Group End -->
        </div>

        <div>

          <!-- Selected Tech & Top3 Group Start -->
          <div class="grid gap-4 pt-3 pb-3 pl-3 mb-3" style="grid-template-columns: 0.6fr 1fr 1fr 1fr 1fr; background-color: #EEEEEE;">

            <!-- Selected Tech Card -->
            <div class="flex mb-3 bg-white rounded-lg shadow-xs dark:bg-gray-800 mr-2"
                 style="height: 190px;width: 126px;align-items: center;flex-direction: column;">
              <div class="w-full inline-block">
                <div class="tech_color mt-2 mr-2"
                     style="background-color: {{ tech_color }}; float: right; display: block;"></div>
              </div>
              <img class="mx-auto mb-2" src="{% get_static_prefix %}img/{{ tech_name.lower|replace_special_char }}.png" style="margin-top: 25px;">
              <p class="mx-auto mb-2 text-sm" id="tech_title">{{ tech_name }}</p>
            </div>

            <!-- Top1 Start -->
            {% for top3 in top_ranker %}
            <div class="flex bg-white rounded-lg shadow-xs dark:bg-gray-800"
                 style="height: 257px;width: 180px;align-items: center;flex-direction: column;">
              <div class="flex mt-1">
                <img style="width:30px;height:30px;" src="{% get_static_prefix %}img/rank_{{ top3.rank }}.png">
                <p class="font-semibold ranking-ellipsis flex" style="font-size:15px; align-content: flex-start;">Top {{ top3.rank }}</p>
              </div>
              <img class="object-cover w-full h-full rounded-full mt-1" src="{{ top3.avatar_url }}" style="width:64px;height:64px">
              <p class="mx-auto mt-2 mb-3 font-semibold ranking-ellipsis" style="font-size:15px"><a href="/{{top3.github_id}}" target="_blank">{{ top3.github_id }}</a></p>
              <button type="button" class="btn btn-danger font-semibold mt-2 mb-1"
                style="color:rgb(200,30,30);background-color:rgb(253,232,232);border-color:rgb(253,232,232); font-size: 70%; padding: 2%; width: 70%;">
                {% trans "Code Crazy" %} <span class="badge badge-danger" style="font-size:100%;margin-left:4px; top: 1px;">{{ top3.tech_code_crazy }}%</span>
              </button>
              <div class="rounded-full mt-2 mb-1" style="background-color:lightgray; width: 70%;">
                <div
                  class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                  style="width: {{ top3.code_line_percent }}%; background-color: {{ tech_color }}"><p style="color:white">{{ top3.total_lines }}</p>
                </div>
              </div>
              <div class="flex mt-2 mb-1" style="align-items: center;flex-direction: row; justify-content: space-around; width: 50%;">
                <img style="width:30px;height:30px;" src="{% get_static_prefix %}img/{{ top3.top_tech.lower|replace_special_char }}.png">
                <p class="text-xs text-gray-600">{{ top3.top_tech }}</p>
              </div>
            </div>
            {% endfor %}
            <!-- Top1 End -->

            <!-- My Ranking Start -->
          <div>
            <div class="flex py-2 bg-white rounded-lg shadow-xs dark:bg-gray-800" style="height: 257px;width: 180px;align-items: center;flex-direction: column;">
              {% if login_user and login_user_rank %}
                <div style="position: absolute;">
                  <img id="update_btn_img" @click="openModal" src="{% static 'img/update-arrows.svg' %}" alt="update" style="padding: 2px; background-color: #866BF2; width: 18px; height:18px; position: relative; top: -5px; left: 75px; border-radius: 50%; font-weight: bold; cursor: pointer;">
                </div>
                {% with login_user as github_user %}
                  {% include 'token_modals.html' %}
                {% endwith %}
                <p class="mx-auto mb-2 font-semibold ranking-ellipsis" style="font-size:15px">Rank {{ login_user_rank }}</p>
                <img class="mt-2 object-cover w-full h-full rounded-full" src="{{ login_user.avatar_url }}" style="width:64px;height:64px">
                <p class="mx-auto mb-3 font-semibold ranking-ellipsis" style="font-size:15px"><a href="/{{ login_user.github_id }}" target="_blank">{{ login_user.github_id }}</a></p>
                <button type="button" class="btn btn-danger font-semibold mt-2 mb-1"
                        style="color:rgb(200,30,30);background-color:rgb(253,232,232);border-color:rgb(253,232,232); font-size: 70%; padding: 2%; width: 70%;">
                  {% trans "Code Crazy" %} <span class="badge badge-danger" style="font-size:100%;margin-left:4px; top: 0.5px;">{{ login_user_data.tech_code_crazy }}%</span>
                </button>
                <div class="rounded-full mt-2 mb-1" style="background-color:lightgray; width: 70%;">
                  <div
                    class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                    style="width: {{ login_user_data.code_line_percent }}%; background-color: {{ tech_color }}"><p style="color:white">{{ login_user_data.total_lines }}</p>
                  </div>
                </div>
                <button onclick="find_ranking_user(event, '{{login_user.github_id}}')" class="px-2 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple mt-2">
                  {% trans "More" %}
                </button>
              {% elif login_user and not login_user_rank %}
                <div style="position: absolute;">
                  <img id="update_btn_img" @click="openModal" src="{% static 'img/update-arrows.svg' %}" alt="update" style="padding: 2px; background-color: #866BF2; width: 18px; height:18px; position: relative; top: -5px; left: 75px; border-radius: 50%; font-weight: bold; cursor: pointer;">
                </div>
                {% with login_user as github_user %}
                  {% include 'token_modals.html' %}
                {% endwith %}
                <p class="mx-auto font-semibold ranking-ellipsis" style="margin-bottom: 1.3rem;"></p>
                <img class="mt-2 mb-2 object-cover w-full h-full rounded-full" src="{{ login_user.avatar_url }}" style="width:64px;height:64px">
                <p class="mx-auto font-semibold ranking-ellipsis" style="font-size:15px"><a href="/{{ login_user.github_id }}" target="_blank">{{ login_user.github_id }}</a></p>
                <button onclick="alert('You do not have a commit about this tech')" class="px-2 py-1 mt-6 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                  {% trans "My ranking" %}
                </button>
              {% else %}
                <p class="mx-auto mb-3 font-semibold ranking-ellipsis"></p>
                <img class="mt-3 object-cover w-full h-full rounded-full"
                   src="https://static.vecteezy.com/system/resources/previews/007/126/739/original/question-mark-icon-free-vector.jpg"
                   style="width:64px;height:64px; border: 1px solid #E6E6E6">
                <p class="mx-auto font-semibold ranking-ellipsis"></p>
                <button style="margin-top: 3.1rem;" onclick="go_to_login()" class="px-2 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-md active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                  {% trans "My ranking" %}
                </button>
              {% endif %}
            </div>
          </div>
            <!-- My Ranking End -->

          </div>
          <!-- Selected Tech & Top3 Group End -->

          <!-- Search GitHub User -->
          <div class="flex mb-3" style="min-width:450px;align-content:flex-end;flex-wrap:wrap;justify-content:space-between;">
            <div class="relative focus-within:text-purple-500"
                 style="min-width: 90px; margin-left:2px">
              <div style="position:absolute; top: 30%; left: 3.5%;">
                <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd"
                        d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                        clip-rule="evenodd"></path>
                </svg>
              </div>
              <input style="min-width: 90px;" id="ranking_search_input" onkeydown="find_ranking_user(event)"
                     class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input"
                     type="text" placeholder={% blocktrans %}"Search a GitHub ID"{% endblocktrans %} aria-label="Search">
            </div>
            <div class="relative focus-within:text-purple-500"
                style="min-width: 90px; margin-left:2px; white-space:nowrap;">
              <div style="position:absolute; top: 30%; right: 30%; width: auto; display: flex;">
                <p class="text-lg">
                  {{tech_name}} {% trans "developers" %}: {{total_rank_count}}
                </p>
                <img id="rank_count" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" src="{% static 'img/question-mark.svg' %}" style="width: 25px; height: 25px; margin-left: 10px; padding-top: 5px;">
              </div>
            </div>
          </div>

          <!-- Table -->
          <div class="overflow-hidden rounded-lg shadow-xs" style="margin-left: auto !important;">
            <div class="w-full overflow-x-auto">
              <table class="w-full whitespace-no-wrap">
                <thead>
                <tr
                  class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                  style="border: 0 solid #d5d6d7!important;">
                  <th id="rank_rank" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" class="px-4 py-3 text-center">
                    {% trans "RANK" %}
                  </th>
                  <th class="px-4 py-3 text-center" style="width:150px">GITHUB ID</th>
                  <th></th>
                  <th id="rank_code_crazy" onmousemove="show_desc(event)" onmouseleave="show_desc(event)" class="px-4 py-3 text-center">
                    {% trans "Code Crazy" %}
                  </th>
                  <th id="rank_code_lines" onmousemove="show_desc(event);" onmouseleave="show_desc(event)" class="px-4 text-center">
                    {% trans "Code Lines" %}
                  </th>
                  <th id="rank_major" onmousemove="show_desc(event);" onmouseleave="show_desc(event)" class="px-4 text-center">
                    {% trans "Major" %}
                  </th>
                </tr>
                </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                  {% for ranker in now_ranker_data %}
                  <tr id="{{ ranker.github_id }}" class="user_tr text-gray-700 dark:text-gray-400" style="border: 0.5 solid #d5d6d7!important;">
                    <td style="width:50px;border:none!important; text-align: center;">
                      <p class="font-bold text-sm text-gray-600 dark:text-gray-400">
                        {{ ranker.rank }}
                      </p>
                    </td>
                    <td class="px-3 py-3" style="width:150px;border:none!important">
                      <div class="flex items-center text-sm">
                        <!-- Avatar with inset shadow -->
                        <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block" style="min-width:32px;">
                          <img class="object-cover w-full h-full rounded-full"
                               src="{{ ranker.avatar_url }}" alt="" loading="lazy">
                          <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                        </div>
                        <div class="ranking-ellipsis">
                          <a class="font-semibold" href="/{{ ranker.github_id }}" target="_blank">{{ ranker.github_id }}</a>
                        </div>
                    </td>
                    <td style="border:none!important;">
                      <div class="flex items-center text-sm">
                        {% if ranker.change_rank > 0 %}
                          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="red" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                          </svg>
                        {% elif ranker.change_rank < 0 %}
                         <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="blue" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                          <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                         </svg>
                        {% else %}
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#96C362" class="bi bi-circle-fill" viewBox="0 0 16 16" style="margin-left: 6px; margin-right: 7px;">
                            <circle cx="8" cy="8" r="8"/>
                          </svg>
                        {% endif %}
                        <div class="ml-2" >{{ ranker.change_rank }}</div>
                      </div>
                    </td>
                    <td class="text-sm text-center" style="border:none!important">
                      <span
                        class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">
                        {{ ranker.tech_code_crazy }}%
                      </span>
                    </td>
                    <td style="border:none!important">
                      <div class="w-full rounded-full" style="background-color:lightgray">
                        <div
                          class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                          style="width: {{ ranker.code_line_percent }}%; background-color: {{ tech_color }}"><p style="color:white">{{ ranker.total_lines }}</p></div>
                      </div>
                    </td>
                    <td class="px-3 py-2 text-sm" style="width:100px;border:none!important">
                      <div class="flex items-center" style="justify-content:center;">
                        <div class="flex" style="align-items: center;flex-direction: column;">
                          <img style="width:45px;height:45px" src="{% get_static_prefix %}img/{{ ranker.top_tech.lower|replace_special_char }}.png">
                          <p class="text-xs text-gray-600">{{ ranker.top_tech }}</p>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
              <span class="col-span-2"></span>
              <!-- Pagination -->
              <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
                <nav aria-label="Table navigation">
                  <ul class="inline-flex items-center">
                    {% if now_ranker_data.has_previous %}
                      <li>
                        <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                                aria-label="Previous" onclick="window.location.href='?page={{ now_ranker_data.previous_page_number }}'">
                          <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                            <path
                              d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                              clip-rule="evenodd" fill-rule="evenodd">
                            </path>
                          </svg>
                        </button>
                      </li>
                    {% endif %}
                    <li>
                      <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple" onclick="window.location.href='?page=1'">
                        <p {% if now_ranker_data.number == 1 %}style="color: blue; font-weight: bolder"{% endif %}>1</p>
                      </button>
                    </li>
                    {% if now_ranker_data.paginator.count > 50 %}
                      <li>
                        <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple" onclick="window.location.href='?page=2'">
                            <p {% if now_ranker_data.number == 2 %}style="color: blue; font-weight: bolder"{% endif %}>2</p>
                        </button>
                      </li>
                    {% endif %}
                    {% if now_ranker_data.number >= 6 %}
                      <li>
                        <p>...</p>
                      </li>
                    {% endif %}
                  {% for num in now_ranker_data.paginator.page_range %}
                    {% if num == now_ranker_data.number %}
                      {% if num >= 3 %}
                        <li>
                          <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                            <p style="color: blue; font-weight: bolder">{{ num }}</p>
                          </button>
                        </li>
                      {% endif %}
                    {% else %}
                      {% if now_ranker_data.number|add:"-2" <= num and num <= now_ranker_data.number|add:"2" %}
                        {% if num >= 3 %}
                        <li>
                          <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple" onclick="window.location.href='?page={{ num }}'">
                            {{ num }}
                          </button>
                        </li>
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                  {% if now_ranker_data.has_next %}
                    <li>
                      <button class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                              aria-label="Next" onclick="window.location.href='?page={{ now_ranker_data.next_page_number }}'">
                        <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                          <path
                            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                            clip-rule="evenodd" fill-rule="evenodd">
                          </path>
                        </svg>
                      </button>
                    </li>
                  {% endif %}
                  </ul>
                </nav>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- First Row End -->
      {% if now_ranker_data.number != 1 %}
        <img src="{% static 'img/to_the_top.png' %}" alt="top" onclick="location.href=location.pathname" style="position: fixed; right: 70px; bottom: 330px; width: 60px; height: 60px; cursor: pointer;">
      {% endif %}
      {% include 'desc_div.html' %}
    </div>
  </div>
<script type="text/javascript" src="{% static "js/tech_search.js" %}"></script>
<script>
  show_ranking_user();
  {% if login_user %}
    check_analysis_updating("{{login_user.github_id}}", "{{login_user.status}}");
  {% endif %}
</script>
{% endblock %}
