{% load i18n custom_tags %}
<div
  x-show="isModalOpen"
  x-transition:enter="transition ease-out duration-150"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-150"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  class="fixed inset-0 z-30 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
  id="modal_container"
>
  <div
    x-show="isModalOpen"
    x-transition:enter="transition ease-out duration-150"
    x-transition:enter-start="opacity-0 transform translate-y-1/2"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in duration-150"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0  transform translate-y-1/2"
    @click.away="closeModal"
    @keydown.escape="closeModal"
    class="px-6 py-4 overflow-hidden bg-white rounded-t-lg dark:bg-gray-800 sm:rounded-lg sm:m-4"
    role="dialog"
    id="modal"
    style="width: 860px;"
  >
    <!-- Remove header if you don't want a close icon. Use modal body to place modal tile. -->
    <header class="flex justify-end">
      <button
        id="close_btn"
        class="inline-flex items-center justify-center w-6 h-6 text-gray-400 transition-colors duration-150 rounded dark:hover:text-gray-200 hover: hover:text-gray-700"
        aria-label="close"
        @click="closeModal"
      >
        <svg
          class="w-4 h-4"
          fill="currentColor"
          viewBox="0 0 20 20"
          role="img"
          aria-hidden="true"
        >
          <path
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
            fill-rule="evenodd"
          ></path>
        </svg>
      </button>
    </header>
    <!-- Modal body -->
    <div class="mt-4 mb-6">
      <!-- Modal title -->
      <p class="mb-2 text-2xl font-semibold text-gray-700 dark:text-gray-300">
        {% trans "Git repositories" %}
      </p>
      {% if not is_joined %}
        <p class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
          {% trans "Using token" %}
        </p>
        <hr style="margin-bottom: 15px; width: 83%;">
        <div>
          <input id="token_input" type="text" placeholder={% blocktrans %}"Enter GitHub personal access token"{% endblocktrans %} style="width: 83%; height: 70px; padding: 10px; border-width: 1px;"/>
          <button onclick="analyze_developer('{{github_user.github_id}}', true, true)" class="ml-1 p-2 font-medium leading-5 text-center transition-colors duration-150 border border-transparent" style="background-color: #A4C2F4;border-radius: 10px; height: 70px; width:125px;">
            {% trans "Add repository" %}
          </button>
          <div><span class="text-xs text-red-600 dark:text-red-400"></span></div>
        </div>
      {% endif %}
      <br>
      <p class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
        {% trans "Public" %}
      </p>
      <hr style="margin-bottom: 15px; width: 83%;">
      <div>
        <input id="public_repo_input" type="text" placeholder={% blocktrans %}"Git Repository URL"{% endblocktrans %} style="width: 83%; height: 70px; padding: 10px; border-width:1px;"/>
        <button onclick="save_public_repo()" class="ml-1 p-2 font-medium leading-5 text-center transition-colors duration-150 border border-transparent" style="background-color: #fd9bad;border-radius: 10px; height: 70px; width:125px; ">
          {% trans "Add" %}
        </button>
      </div>
      <br>
      <div class="flex justify-between">
        <p class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-300">
          {% trans "All repositories" %}
        </p>
        <button onclick="delete_repos()" class="ml-1 p-2 font-medium leading-5 text-center transition-colors duration-150 border border-transparent" style="background-color: #d4d4d4;border-radius: 10px; height: 35px; width:125px;">
          Delete
        </button>
      </div>
      <hr style="margin-bottom: 15px; width: 83%;">
      <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
        <div style="height: 250px;" class="w-full overflow-x-auto">
          <table class="w-full whitespace-no-wrap">
            <thead>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                  <th class="px-1 py-2">No.</th>
                  <th class="px-1 py-2"><input type="checkbox" id="repo_all"></th>
                  <th class="px-1 py-2">{% trans "Git project name" %}</th>
                  <th class="px-1 py-2">{% trans "Git repository URL" %}</th>
                  <th class="px-1 py-2">{% trans "Type" %}</th>
                  <th class="px-1 py-2">{% trans "Status" %}</th>
                  <th class="px-1 py-2">{% trans "Is private" %}</th>
                </tr>
            </thead>
            <tbody>
              {% if is_joined %}
                {% for repo in group_repo_queryset %}
                  <tr class="text-gray-700 dark:text-gray-400">
                    <td class="px-1 py-2">{{forloop.counter}}</td>
                    <th class="px-1 py-2"><input type="checkbox" class="repos" repo_id="{{repo.id}}"></th>
                    <td class="px-1 py-2">{{repo.repo_url|get_repo_name}}</td>
                    <td class="px-1 py-2"><a href="{{repo.repo_url}}">{{repo.repo_url}}</a></td>
                    <td class="px-1 py-2">group</td>
                    <td class="px-1 py-2">{{repo.status}}</td>
                    <td class="px-1 py-2">{{repo.is_private}}</td>
                  </tr>
                {% endfor %}
              {% else %}
                {% for repo in github_user.githubrepo_set.all %}
                  <tr class="text-gray-700 dark:text-gray-400">
                    <td class="px-1 py-2">{{forloop.counter}}</td>
                    <th class="px-1 py-2"><input type="checkbox" class="repos" repo_id="{{repo.id}}"></th>
                    <td class="px-1 py-2">{{repo.repo_url|get_repo_name}}</td>
                    <td class="px-1 py-2"><a href="{{repo.repo_url}}">{{repo.repo_url}}</a></td>
                    <td class="px-1 py-2">{{repo.added_type}}</td>
                    <td class="px-1 py-2">{{repo.status}}</td>
                    <td class="px-1 py-2">{{repo.is_private}}</td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of modal backdrop -->
